.idea/*
cmake-build-debug/*
E1-basico/.idea/*
E1-basico/cmake-build-debug/*
Piramide1/.idea/*
Piramide1/cmake-build-debug/*
ModeloPLY/.idea/*
ModeloPLY/cmake-build-debug/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
